body {
    margin: 0;
    padding: 0;
    background-image: url("/A9/images/background.png");
    background-size: cover;
}

.slider {
    width: 1920px;
    position: relative;
    margin-top: 200px;
    height: 600px;
    overflow: hidden;
}

.slide {
    top: 0;
    left: 0;
    width: 5760px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    transition: 0.5s;
}

.item {
    width: 500px;
}

.item img {
    width: 100%;
    height: 400px;
}

.item h3,i {
    color: #fff;
}

.item p {
    color: darkgrey;
}

input {
    display: none;
}

.btns {
    position: absolute;
    width: 100%;
    text-align: center;
}

.btns label {
    padding: 10px;
    border: 1px solid #fff;
}

label {
    color: #fff;
}

.btns .slide1,.slide2,.slide3 {
    display: none;
}

#slide1:checked ~ .slider .slide {
    left: 0;
}

#slide2:checked ~ .slider .slide {
    left: -1920px;
}

#slide3:checked ~ .slider .slide {
    left: -3840px;
}

#slide1:checked ~ .btns .slide1 {
    display: block;
}

#slide2:checked ~ .btns .slide2 {
    display: block;
}

#slide3:checked ~ .btns .slide3 {
    display: block;
}