*{
margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: auto;
    border: 1px solid #000;
}

.link {
    background-color: #000;
}

nav {
    margin: 0 auto;
    padding: 10px 0;
    width: 1280px;
    display: flex;
    justify-content: space-between;
}

nav a{
    text-decoration: none;
    color: #fff;
}

nav > div {
    display: flex;
    gap: 30px;
}

header {
    margin: auto;
    width: 1280px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-header {
    display: flex;
    align-items: center;
    gap: 30px;
}

.left-header input {
    width: 400px;
    padding: 15px 20px;
    border-radius: 20px; 
    background-color: #eee;
    border: none;
}


.logo {
    height: 65px;
}

.logo img {
    width: 120px;
}

.search {
    display: flex;
    position: relative;
    align-items: center;
}

.search img {
    position: absolute;
    margin-left: 360px;
}

.icon {
    display: flex;
    gap: 30px;
}

.icon img {
    width: 40px;
}

menu {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 50px;
}

.menu-circle {
    width: 40px;
    height: 40px;
    background-color: #214595;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
}

menu a {
    text-decoration: none;
    color: #797979;
}

aside {
    width: 100%;
    overflow: hidden;
}

.slider {
    margin: 30px auto;
    width: 1280px;
    height: 500px;
    position: relative;
}

.slide {
    height: 500px;
    width: 6400px;
    display: flex;
    gap: 20px;
    position: absolute;
    top: 0;
    left: 0px;
    animation: slide 20s infinite
}

.box {
    width: 1280px;
    height: 500px;
    border: 1px solid #000;
    border-radius: 20px;
}

@keyframes slide {
    0% {
        left: 0;
    }
    15%{
        left: 0;
    }
    20%{
        left: -1280px
    }
    35%{
        left: -1280px;
    }
    40%{
        left: -2560px;
    }
    55%{
        left: -2560px;
    }
    60%{
        left: -3840px;
    }
    75%{
        left: -3840px;
    }
    80%{
        left: -5120px;
    }
    85%{
        left: -5120px;
    }
    100%{
        left: 0;
    }
}