*{
margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: auto;
    border: 1px solid #000;
}

.link {
    background-color: #000;
}

nav {
    margin: 0 auto;
    padding: 10px 0;
    width: 1280px;
    display: flex;
    justify-content: space-between;
}

nav a{
    text-decoration: none;
    color: #fff;
}

nav > div {
    display: flex;
    gap: 30px;
}

header {
    margin: auto;
    width: 1280px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-header {
    display: flex;
    align-items: center;
    gap: 30px;
}

.left-header input {
    width: 400px;
    padding: 15px 20px;
    border-radius: 20px; 
    background-color: #eee;
    border: none;
}


.logo {
    height: 65px;
}

.logo img {
    width: 120px;
}

.search {
    display: flex;
    position: relative;
    align-items: center;
}

.search img {
    position: absolute;
    margin-left: 360px;
}

.icon {
    display: flex;
    gap: 30px;
}

.icon img {
    width: 40px;
}

menu {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 50px;
}

.menu-circle {
    width: 40px;
    height: 40px;
    background-color: #214595;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
}

menu a {
    text-decoration: none;
    color: #797979;
}

