*{
margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: auto;
    height: 200px;
    border: 1px solid #000;
}

header {
    background-color: #000;
}

nav {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

nav a{
    text-decoration: none;
    color: #fff;
}