*{
margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: auto;
    border: 1px solid #000;
}

.link {
    background-color: #000;
}

nav {
    margin: 0 auto;
    padding: 10px 0;
    width: 1280px;
    display: flex;
    justify-content: space-between;
}

nav a{
    text-decoration: none;
    color: #aaa;
    font-size: 11px;
}

nav > div {
    display: flex;
    gap: 30px;
}

header {
    margin: auto;
    width: 1280px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-header {
    display: flex;
    align-items: center;
    gap: 30px;
}

.left-header input {
    width: 400px;
    padding: 15px 20px;
    border-radius: 20px; 
    background-color: #eee;
    border: none;
}


.logo {
    height: 65px;
}

.logo img {
    width: 120px;
}

.search {
    display: flex;
    position: relative;
    align-items: center;
}

.search img {
    position: absolute;
    margin-left: 360px;
}

.icon {
    display: flex;
    gap: 30px;
}

.icon img {
    width: 30px;
}

menu {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 50px;
}

.menu-circle {
    width: 40px;
    height: 40px;
    background-color: #214595;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
}

menu a {
    text-decoration: none;
    color: #797979;
}

aside {
    width: 100%;
    overflow: hidden;
}

.slider {
    margin: 30px auto;
    width: 1280px;
    height: 500px;
    position: relative;
}

.slide {
    height: 500px;
    width: 6500px;
    display: flex;
    gap: 20px;
    position: absolute;
    top: 0;
    left: 0px;
    animation: slide 18s infinite
}

.box {
    width: 1280px;
    height: 500px;
    border-radius: 20px;
    text-align: center;
    background-color: darkgray;
}

.box .text {
    margin-top: 350px;
}

.arrow {
    position: absolute;
    width: 1280px;
    display: flex;
    justify-content: space-between;
    margin-top: 230px;
}

.arrow img {
    width: 50px;
}

.control {
    position: absolute;
    display: flex;
    gap: 10px;
    margin-top: 450px;
    margin-left: 1150px;
}

.control div {
    border: 1px solid #000;
    padding: 2px 10px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #000;
    opacity: 0.3;
}

.control span {
    color: #797979;
}

@keyframes slide {
    0% {
        left: 0;
    }
    18%{
        left: 0;
    }
    20%{
        left: -1300px
    }
    38%{
        left: -1300px;
    }
    40%{
        left: -2600px;
    }
    58%{
        left: -2600px;
    }
    60%{
        left: -3900px;
    }
    78%{
        left: -3900px;
    }
    80%{
        left: -5200px;
    }
    88%{
        left: -5200px;
    }
    95%{
        left: -5200px
    }
    100%{
        left: 0;
    }
}

main {
    width: 1280px;
    margin: auto;
    margin-top: 50px;
}

.tags {
    display: flex;
   
}

.tag {
    margin-top: 30px;
    border: 1px solid #aaa;
    padding: 5px 10px;
    border-radius: 20px;
}

.tags .check {
    border: none;
    background-color: #214595;
    color: #fff;
}

.item-list {
    margin-top: 20px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 450px;
    gap: 30px;
}

.item {
    /* border: 1px solid #000; */
}

.item img {
    width: 100%;
    border-radius: 20px;
}

.item p {
    font-size: 14px;
    margin-top: 10px;
}

.item-tag {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

.item h3 {
    color: #2145a2;
}

.item-tag div {
    padding: 3px;
    border-radius: 5px;
}

.best {
    background-color: #ecf6ff;
    color: #1e96ff;
}

.free {
    background-color: #eefbdd;
    color: #88d61d;
}

.sale {
    background-color: #ffeded;
    color: #ff4e4e;
}

.new {
    background-color: #e9edf5;
    color: #214595;
}

.banner {
    width: 1280px;
    height: 170px;
    margin: 100px 0;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.banner-box {
    width: 2560px;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    animation: banner 7s infinite;
}

.banner a {
    font-size: 0;
}

.banner img {
    border-radius: 10px;
}

@keyframes banner {
    0% {left: 0;}
    45%{left: 0;}
    50% {left: -1280px;}
    95%{left:-1280px}
    100%{left: 0;}
}

.title {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title p {
    color: #797979;
}

.new-item {
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 560px;
    gap: 30px;
}

.progress {
    margin-bottom: 100px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progressbar {
    background-color: #ddd;
    height: 2px;
    width: 1150px;
}

.progressbar div {
    border: 1px solid #000;
    width: 100px;
    height: 1px;
}

.arrow-circle {
    display: flex;
}

.arrow-circle div {
    border: 1px solid #ddd;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.num {
    width: 40px;
    height: 40px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #214595;
    font-weight: bold;
    color: #fff;
    border-radius: 15px;
    font-size: 20px;
}

section {
    background-color: #1153cb;
    width: 100%;
    height: 400px;
    padding-top: 60px;
    margin-bottom: 300px;
}

article {
    width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.section-left {
    color: #fff;
}

.section-left h2 {
    margin: 20px 0;
    line-height: 30px;
    font-size: 28px;
}

.section-left span {
    font-size: 14px;
}

.section-left .arrow-circle {
    margin-top: 30px;
    gap: 10px;
}

.section-right {
    margin-top: 40px;
    width: 900px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 560px;
    gap: 30px;
}

.section-right h4 {
    margin-top: 15px;
}

.section-right p {
    color: #aaa;
}

.more-btn {
    text-align: center;
    margin: 50px auto;
    width: 250px;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.notice {
    padding: 20px;
    margin-top: 100px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.notice > div {
    margin: auto;
    width: 1280px;
    display: flex;
    justify-content: space-between;
}

.notice .left {
    display: flex;
    gap: 20px;
}

footer {
}

.footer {
    width: 1280px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-footer {
    font-size: 14px
}

.left-footer > div {
    margin-top: 20px;
}

.left-footer img{
    width: 150px;
}

.intro {
    display: flex;
    color: #aaa;
    gap: 20px;
}

.intro b {
    color: #000;
}

.intro span {
    padding: 0 5px;
    border: 1px solid #aaa;
    border-radius: 5px;
    color: #000;
}

.info > div {
    display: flex;
}

.caution {
    font-size: 14px;
    color: #aaa;
}

.copyright {
    font-size: 14px;
    color: #aaa;
}

.right-footer {
    text-align: right;
}

.right-footer h1 {
    margin:5px 0;
}

.right-footer p {
    font-size: 14px;
    margin-top: 5px;
}

.banner .control {
    position: absolute;
    margin-left: 1200px;
    margin-top: 130px;
}