*{
margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: auto;
    border: 1px solid #000;
}

.link {
    background-color: #000;
}

nav {
    margin: 0 auto;
    padding: 10px 0;
    width: 1280px;
    display: flex;
    justify-content: space-between;
}

nav a{
    text-decoration: none;
    color: #fff;
}

nav > div {
    display: flex;
    gap: 30px;
}

header {
    margin: auto;
    width: 1280px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-header {
    display: flex;
    align-items: center;
    gap: 30px;
}

.left-header input {
    width: 400px;
    padding: 15px 20px;
    border-radius: 20px; 
    background-color: #eee;
    border: none;
}


.logo {
    height: 65px;
}

.logo img {
    width: 120px;
}

.search {
    display: flex;
    position: relative;
    align-items: center;
}

.search img {
    position: absolute;
    margin-left: 360px;
}

.icon {
    display: flex;
    gap: 30px;
}

.icon img {
    width: 40px;
}

menu {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 50px;
}

.menu-circle {
    width: 40px;
    height: 40px;
    background-color: #214595;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
}

menu a {
    text-decoration: none;
    color: #797979;
}

aside {
    width: 100%;
    overflow: hidden;
}

.slider {
    margin: 30px auto;
    width: 1280px;
    height: 500px;
    position: relative;
}

.slide {
    height: 500px;
    width: 6500px;
    display: flex;
    gap: 20px;
    position: absolute;
    top: 0;
    left: 0px;
    animation: slide 20s infinite
}

.box {
    width: 1280px;
    height: 500px;
    border-radius: 20px;
    text-align: center;
    background-color: darkgray;
}

.box .text {
    margin-top: 350px;
}

.arrow {
    position: absolute;
    width: 1280px;
    display: flex;
    justify-content: space-between;
    margin-top: 230px;
}

.arrow img {
    width: 50px;
}

.control {
    position: absolute;
    display: flex;
    gap: 10px;
    margin-top: 450px;
    margin-left: 1150px;
}

.control div {
    border: 1px solid #000;
    padding: 2px 10px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #000;
    opacity: 0.3;
}

.control span {
    color: #797979;
}

@keyframes slide {
    0% {
        left: 0;
    }
    15%{
        left: 0;
    }
    20%{
        left: -1300px
    }
    35%{
        left: -1300px;
    }
    40%{
        left: -2600px;
    }
    55%{
        left: -2600px;
    }
    60%{
        left: -3900px;
    }
    75%{
        left: -3900px;
    }
    80%{
        left: -5200px;
    }
    85%{
        left: -5200px;
    }
    100%{
        left: 0;
    }
}

main {
    width: 1280px;
    margin: auto;
    margin-top: 50px;
}

.tags {
    display: flex;
   
}

.tag {
    margin-top: 30px;
    border: 1px solid #aaa;
    padding: 5px 10px;
    border-radius: 20px;
}

.tags .check {
    border: none;
    background-color: #214595;
    color: #fff;
}

.item-list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 400px;
    gap: 30px;
}

.item {
    border: 1px solid #000;
}