* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("images/background.png");
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.slider {
    width: 1200px;
    position: relative;
    height: 700px;
    overflow: hidden;
}

.slide-list {
    position: absolute;
    display: flex;
    width: 3600px;
    height: 700px;
    transition: 0.5s;
}

.slide {
    width: 1200px;
    height: 700px;
    display: flex;
    justify-content: space-around;
}

.box {
    width: 350px;
    /* border: 1px solid #000; */
}

.box img {
    width: 350px;
}

.img {
    height: 500px;
    display: flex;
    align-items: center;
}

.text{
    height: 200px;
    /* border: 1px solid #000; */
    color: white;
}

.text p {
    color: #aaa;
}

.button {
    top: 90%;
    position: absolute;
    display: flex;
    justify-content: center;
}

.button > div{
    display: flex;
    justify-content: center;
}

.button label {
    padding: 10px;
    font-size: 30px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.button label:hover {
    cursor: pointer;
}


input {
    display: none;
}

.button div div:nth-child(1),
.button div div:nth-child(2),
.button div div:nth-child(3){
    display: none;
    gap: 20px
}

#slide1:checked ~ .slider .slide-list {
    margin-left: 0;
}
#slide2:checked ~ .slider .slide-list {
    margin-left: -1200px;
}
#slide3:checked ~ .slider .slide-list {
    margin-left: -2400px;
}

#slide1:checked ~ .button .slide1{
    display: block;
}
#slide2:checked ~ .button .slide2{
    display: block;
}
#slide3:checked ~ .button .slide3{
    display: block;
}