*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fcf8f5;
}

.container {
    padding: 120px;
    display: flex;
    justify-content: space-between;
}

section {
    color: #552617;
}

section h1 {
    margin-bottom: 30px;
}

.item-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 430px;
    gap: 30px;
}

.item {
    position: relative;
}

.item img {
    width: 350px;
    height: 300px;
    border-radius: 10px;
}

.pick img{
    border: 3px solid #c4441e;
}

.item .img {
    margin-bottom: 20px;
}

.add {
    width: 100%;
    top: 0;
    margin-top: 270px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add button {
    width: 200px;
    height: 50px;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #552617;
    gap: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #552617;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pick .add button {
    border: none;
    background-color: #c4441e;
    font-weight: initial;
    color: #fff;
    justify-content: space-around;
}

.plus , .minus {
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add img {
    width: 30px;
    height: 30px;
}

.info {
    width: 100%;
    font-size: 18px;
    margin-top: 30px;
}

.info p {
    margin-top: 5px;
}

.name {
    font-weight: bold;
}

.item .price {
    font-weight: bold;
    color: #c4441e;
}

aside {
    height: 650px;
    border-radius: 10px;
    background-color: #fff;
}

.cart{
    width: 500px;
    padding: 30px;
}

.cart h2 {
    color: #c4441e;
}

.product {
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desc {
    padding-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.desc p, b {
    color: #5e372a;
}

.desc span {
    font-weight: bold;
    color: #c4441e;
}

.product img {
    width: 30px;
}

.total {
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box {
    padding: 20px;
    background-color: #fcf8f5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    gap: 10px;
}

.box img {
    width: 30px;
}

.order {
    width: 100%;
    padding: 20px;
    background-color: #c4441e;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    color: #fff;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.check {
    width: 50px;
}

.modal_desc {
    padding: 30px 0 30px 0;
}

.modal_desc h1 {
    font-size: 40px;
}

.modal_window {
    width: 600px;
    background-color: #fff;
    padding: 30px;
}

.modal .list {
    padding: 30px;
    background-color: #fcf8f5;
    margin-bottom: 50px;
    border-radius: 10px;
}

.flex {
    display: flex;
    gap: 20px;
}

.flex img{
    width: 60px;
}