*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fcf8f5;
}

.container {
    padding: 120px;
    display: flex;
    justify-content: space-between;
}

section {
    color: #552617;
}

section h1 {
    margin-bottom: 30px;
}

.item-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 430px;
    gap: 30px;
}

.item {
    position: relative;
}

.item img {
    width: 350px;
    height: 300px;
    border-radius: 10px;
}

.item .img {
    margin-bottom: 20px;
}

.add {
    width: 100%;
    top: 0;
    margin-top: 270px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add button {
    width: 200px;
    height: 50px;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #552617;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #552617;
}

.add img {
    width: 30px;
    height: 30px;
}

.info {
    width: 100%;
    font-size: 18px;
    margin-top: 30px;
}

.info p {
    margin-top: 5px;
}

.name {
    font-weight: bold;
}

.price {
    font-weight: bold;
    color: #c4441e;
}

aside {
    height: 350px;
    border-radius: 10px;
    background-color: #fff;
}

.cart{
    width: 500px;
    padding: 20px;
}

.cart h2 {
    color: #c4441e;
}

.cart div {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    color: #552617;
}

.cart img {
    width: 200px;
}