*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

body > div {
    width: 200px;
}

.toggle-box {
    width: 200px;
}

.toggle {
    width: 300px;
    height: 100px;
    padding: 10px;
    border-radius: 60px;
    background-color: #ddd;
    transition: 0.5s
}

.toggle-btn {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #fff;
    transition: 0.5s;
}

#check {
    display: none;
}

#check:checked ~ .toggle > .toggle-btn {
    margin-left: 200px;
    background-color: yellow;
}

#check:checked ~ .toggle {
    background-color: darkblue;
}

body:has(#check:checked){
    background-color: #222;
}