body {
    margin: 0;
    padding: 0;
}

footer {
    background-color: #2c3e50;
    color: #eee;
}

.top-footer {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding: 20px;
}

.top-footer h2 {
    color: #349eDF;
}

.top-footer h4 {
    color: #fff;
}

.bottom-footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.right {
    display: flex;
    gap: 100px;
}