* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding-top: 40px;
}

.pro {
    margin: auto;
    width: 1500px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.pro .box {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.completed {
    background-color: green;
    border: 7px solid green;
    color: white;
}

.inprogress {
    background-color: dodgerblue;
    border: 7px solid skyblue;
    color: white;
}

.pending {
    border: 7px solid skyblue;
    color: skyblue;
}

.pro > div {
    gap: 20px;
    display: flex;
    align-items: center;
}

.green .text-box{
    color: green;
}

.blue .text-box {
    color: dodgerblue;
}

.skyblue .text-box {
    color: skyblue;
}