* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding-top: 40px;
}

.pro {
    margin: auto;
    width: 500px;
    padding: 60px;
    margin-bottom: 30px;
    border: 5px solid #000;
    border-radius: 30px;
}

.pro > h1 {
    font-size: 50px;
}

.pro > div {
    margin-top: 50px;
    gap: 20px;
    display: flex;
    align-items: center;
}

.pro .box {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.completed {
    background-color: green;
    border: 7px solid green;
    color: white;
}

.inprogress {
    background-color: dodgerblue;
    border: 7px solid skyblue;
    color: white;
}

.pending {
    border: 7px solid skyblue;
    color: skyblue;
}


.green .text-box{
    color: green;
}

.blue .text-box {
    color: dodgerblue;
}

.skyblue .text-box {
    color: skyblue;
}