*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-list {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 50px;
}

.card {
    text-align: center;
    background-color: #ccc;
}

.card img {
    width: 100%;
    height: auto;
}

.card h2 {
    padding: 20px;
}

.card button {
    width: 100%;
    padding: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .card-list {
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 767px){
    .card-list {
        grid-template-columns: repeat(1,1fr);
    }
}