*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    padding: 20px 40px;
    text-decoration: none;
    background-color: yellowgreen;
    color: #000;
    border-radius: 10px;
    font-size: 20px;
}

a:active {
    background-color: rgb(112, 145, 79);
    color: #fff;
}

a:hover {
    cursor: pointer;
}

#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-window {
    width: 450px;
    height: 300px;
    padding: 20px;
    background-color: #fff;
    position: relative;
}

.modal-window * {
    margin-bottom: 10px;
}

.modal-window input {
    width: 400px;
    padding: 10px;
}

.modal-window button {
    width: 400px;
    padding: 10px;
}

.close-btn{
    padding: 10px;
    margin-left: 380px; 
    position: absolute;
    background-color: yellowgreen;
    text-decoration: none;
    color: #000;
}

.close-btn:hover {
    cursor: pointer;
}

#modal:not(:target){
    visibility: hidden;
    opacity: 0;
}