body {
    margin: 0;
    padding: 0;
    height: 100vh;
}
input {
    display: none;
}

.toggle {
    padding: 10px;
    width: 300px;
    height: 100px;
    background-color: #eee;
    border-radius: 60px;
    transition: 0.5s;
}

.toggle label {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 60px;
    transition: 0.5s;
}

.container {
    width: 100%;
    height: 100%;
}

#input:checked ~ .container .toggle{
    background-color: darkblue;
}

#input:checked ~ .container .toggle label {
    background-color: yellow;
    margin-left: 200px;
}

#input:checked ~ .container {
    background-color: #222;
}